/*

Global
------

General fonts and other global styles of the page.

*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  // -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  position: relative;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
}


