.Content {
  background-repeat: no-repeat;
  background-size: cover;
  color: #337e96;
  padding: 40px 20px;
  position: relative;
}

.Morning.Content {
  background-image: url(../../images/morning.jpg);
}

.Evening.Content {
  background-image: url(../../images/evening.jpg);
}

.Night.Content {
  background-image: url(../../images/night.jpg);
}

