.Error-message {
  background-color: #337e96;
  border-radius: 20px;
  color: white;
  display: none;
  font-size: 30px;
  left: 50%;
  margin: auto;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -40%);
  width: 40%;
}

