.Forecast-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.Forecast-menu-item {
  font-size: 24px;
  text-align: center;
}

.Forecast-day {
  display: inline-block;
  margin-bottom: 10px;
}

.Forecast-icon {
  display: block;
  height: 48px;
  margin-bottom: 10px;
  width: 48px;
}
